<form  *ngIf="selectedUserForEdit">
    <div>
        <label>Name:</label>
        <input type="text" name="userName" [(ngModel)]="selectedUserForEdit.cusName">
    </div>
    <div>
        <label>DOB:</label>
        <input type="text" name="dob" [(ngModel)]="selectedUserForEdit.DOB">
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email" [(ngModel)]="selectedUserForEdit.email">
    </div>
    <div>
        <span>Gender:</span>
        <label>
            <input 
                type="radio"
                name="gender"
                value="male"
                [checked]="(selectedUserForEdit.gender | lowercase) ==='male'"
                #genderMale
                (click)="updateData('gender', genderMale.value)"
            /> Male
            <input 
                type="radio"
                name="gender"
                value="female"
                #genderFemale="ngModel"
                ngModel
                [checked]="(selectedUserForEdit.gender | lowercase) ==='female'"
                (click)="updateData('gender', genderFemale.value)"
            /> Female  
        </label>
    </div>
    <div>
        <label>Address:</label>
        <textarea  name="address" [(ngModel)]="selectedUserForEdit.address"></textarea>
    </div>
    <div><button (click)='editUserInfo()'>Update Info</button></div>
</form>