<h1>Customer Details</h1>
<table border="1" cellspacing="0">
    <tr>
        <td>Customer Id</td>
        <td>Customer Name</td>
        <td>Customer DOB</td>
        <td>Customer Email</td>
        <td>Customer Gender</td>
        <td>Customer Address</td> 
        <td>Action</td>       
    </tr>
    <tr *ngFor="let customer of userDetailsArray">
        <td>{{customer.cusId}}</td>
        <td>{{customer.cusName}}</td>
        <td>{{customer.DOB}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.address}}</td>  
        <td>
            <button (click)="goToEditCustomer(customer.cusId)">Edit</button>
            <button (click)="deleteUser(customer.cusId)">Delete</button>        
        </td>                                                  
    </tr>
</table>
    